{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h1 class="font-weight-light font-weight-bold" >Welcome to Material Manager plateform</h1>
                        <p class="lead">Create and manage new materials</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="text-center">
            <img src="https://www.dni.gov/media/k2/items/cache/f62a17f794a03b17a2684f0886667d26_XL.jpg" class="img-fluid" alt="Material wallpaper">
        </div>
    </div>
{% endblock %}

